<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1><%= @commenter.name %> commented to your post:.</h1>
    <p>
       <%= Post.find(@comment.thread_id) %> <br />
       <%= @comment.body %> 
    </p>
  </body>
</html>