@import "bootstrap-sprockets";
@import "bootstrap";
html {
    height:100%;
    width:100%;
}
body { 
    height:100%;
    width:100%;
    padding-top: 70px; 
    background-color: #fff8e7;
}

#content {
  height:100%;
  background-color: #fff8e7;
}

#main_content {
  background-color: #787567;
}

.navbar {
    background-color: #27313a;
}

.btn-circle {
  width: 100px;
  height: 100px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 50px;
}

span {
  margin-top: 25px;
}

.post-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.navbar-form {
  padding-left: 300px;
}

li {
  padding-right: 10px;
}

ul.nav a:hover {
  color: #fff8e7 !important; 
}

.navbar-header a:hover{
  color: #fff8e7 !important;
}

.thumbnail {
  border: none;
}

div .row{
  color: #787567 !important;
  width: 100%;
}

.col-xs-3 {
  height: 100%;
  color: #787567 !important;
}



